[package]
name = "notifykit_lib"
version = "0.0.6"
edition = "2021"
license = "A toolkit for building applications watching filesystem changes"
homepage = "https://github.com/roma-glushko/notifykit"
repository = "https://github.com/roma-glushko/notifykit"
readme = "README.md"

[dependencies]
crossbeam-channel = "0.5.4"
crossbeam-utils = "0.8.16"
notify-debouncer-full = "0.3.1"
notify = { version = "6.1.1"}
pyo3 = {version = "0.20.0", features = ["extension-module", "abi3-py38"]}
file-id = "0.2.1"
walkdir = "2.4.0"

[lib]
name = "_notifykit_lib"
crate-type = ["cdylib"]
